files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

#            # Copy keyfile from S3
#            aws s3 cp s3://onnoff-dev-s3/auth/AuthKey_5P49UCUSNW.p8 /var/app/current/src/main/resources/AuthKey_5P49UCUSNW.p8
#            aws s3 cp s3://onnoff-dev-s3/auth/onandoff-49ed9-firebase-adminsdk-qogsv-bcd380abe1.json /var/app/current/src/main/resources/onandoff-49ed9-firebase-adminsdk-qogsv-bcd380abe1.json

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH