files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # Copy keyfile from S3
            aws s3 cp s3://tam-cafeteria-release/keys/AuthKey_KM84FK6UX8.p8 /var/app/current/AuthKey_KM84FK6UX8.p8
            aws s3 cp s3://tam-cafeteria-release/keys/tam-fcm-firebase-adminsdk-ch4qp-ba35284c07.json /var/app/current/tam-fcm-firebase-adminsdk-ch4qp-ba35284c07.json

            # run app
            killall java
            java -Dfile.encoding=UTF-8 -jar $JAR_PATH